{% load static %}


    <section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Conheça nossos Produtos</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/BusinessSolutionOdooFinancas.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Gerenciamento Financeiro</a></h3>
                  <p>Soluções de Negócios sob medida</p>
                </div>
                <ul>
                  <li>Contabilidade</li>
                  <li>Emissão de Notas Fiscais</li>
                  <li>Gestão de Despesas</li>
                  <li>Gestão de Documentos</li>
                  <li>Conciliação Bancária</li>
                  <li>Assinatura Eletrônica</li>
                </ul>
                <!--ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
         </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/BusinessSolutionOdooIventarioProducao.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Gestão de Inventário e Produção</a></h3>
                  <p>Controle de Estoque e MRP2 para sua empresa</p>
                </div>
                <ul>
                  <li>Inventário</li>
                  <li>Manufatura</li>
                  <li>Gestão do Ciclo de Vida da Produção</li>
                  <li>Compras</li>
                  <li>Gestão de Manutenção</li>
                  <li>Gestão de Qualidade</li>
                </ul>
                <!--ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
         </div>
         <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/BusinessSolutionOdooVendas.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Gestão de Vendas</a></h3>
                  <p>CRM, PDV e Gestão das vendas</p>
                </div>
                <ul>
                  <li>CRM</li>
                  <li>Ciclo de Vendas</li>
                  <li>PDV</li>
                  <li>Subscrição</li>
                  <li>Aluguel</li>
                  <li>Eventos</li>
                </ul>
                <!--ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/Gestao_Identidade-02.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Gestão de Acessos</a></h3>
                  <p>Uma solução de Gestão de Identidades (IDM) do seu tamanho</p>
                </div>
                <ul>
                  <li>AM - Gestão e Governanca de Identidades</li>
                  <li>IGA - Gestão e Governança de Acessos</li>
                  <li>PAM - Gestão e Governança de Acessos Privilegiados</li>
                  <li>ADM - Gerenciamento de AD</li>
                </ul>
                <!-- ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/CollaborationZohoMail-02.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Solução de Correio Eletrônico</a></h3>
                  <p>Correio Eletrônico por ZohoMail</p>
                </div>
                <ul>
                  <li>Domínio personalizado (você@seudomínio.com.br).</li>
                  <li>Segurança e privacidade incomparáveis</li>
                  <li>Painel de Controle abrangente</li>
                  <li>Retenção de e-mails e e-Discovery</li>
                  <li>Mail em dispositívos móveis</li>
                  <li>Calendário colaborativo</li>
                  <li>Garantia de privacidade</li>
                </ul>
                 <!-- ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/CollaborationZohoMeeting-01.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Soluções de Comunicação e Colaboração</a></h3>
                  <p>Mensagens Instantâneas por Zoho Meeting</p>
                </div>
                <ul>Armazenamento de gravação em nuvem para 10 reuniões/anfitrião
                  <li>Permitir até 2 co-anfitriões</li>
                  <li>Reuniões por até 24 horas</li>
                  <li>Áudio - VoIP, Telefone e chamada gratuita</li>
                  <li>Pesquisas da reunião</li>
                  <li>Bloqueio de reunião</li>
                  <li>Gravação de reunião</li>
                </ul>
                <!-- ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/VirtualDrive-01.png' %}"  alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">Drive Virtual</a></h3>
                  <p>Drive de 1 TB para cada usuário</p>
                </div>
                <p>A sua área de armazenamento de conteúdo (documentos de texto, planilhas, apresentações e imagens) com capacidade de 1TB.</p>
                <!-- ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
        </div>
      </div>
    </section>