{% load static %}


    <section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Conheça nossos Produtos</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/BusinessSolutions-02.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Soluções de Negócios</a></h3>
                  <p>ERP e CRM</p>
                </div>
                <p>Emissão de Notas Fiscais, Controle de Despesas, Controle de Estoque, Gestão de Fábrica, Gestão de Clientes e Gestão de Vendas.</p>
                <!--ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/Gestao_Identidade-02.jpg' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Gestão de Acessos</a></h3>
                  <p>IGA/AM, PAM e ADM</p>
                </div>
                <ul>
                  <li>Gestão e Governanca de Identidades</li>
                  <li>Gestão e Governança de Acessos</li>
                  <li>Gestão e Governança de Acessos Privilegiados</li>
                  <li>Gerenciamento de AD</li>
                </ul>
                <!-- ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/Collaboration-01.png' %}" alt="">
              </div>
              <div class="content">
                <div class="info-text">
                  <h3><a href="#">Soluções de Comunicação e Colaboração</a></h3>
                  <p>Correio Eletrônico e Mensagens Instantâneas</p>
                </div>
                <p>O correio eletrônico da sua empresa (@domíniodaempresa.com.br) com capacidade de 500GB por colaborador e uma solução de mensagem instantânea para facilitar a comunicação entre os colaboradores da sua empresa.</p>
                <!-- ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/product/VirtualDrive-01.png' %}"  alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">Drive Virtual</a></h3>
                  <p>Drive de 1 TB para cada usuário</p>
                </div>
                <p>A sua área de armazenamento de conteúdo (documentos de texto, planilhas, apresentações e imagens) com capacidade de 1TB.</p>
                <!-- ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul -->
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
        </div>
      </div>
    </section>