{% load static %}

    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Nossos Serviços</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Gestão Financeira</a></h3>
                <p>Gerencie seus pagamentos e automatize a emissão de suas notas fiscais</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-stats-up"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Gestão Comercial (CRM)</a></h3>
                <p>Gerencie seus clientes e suas vendas de forma integrada e inteligente</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="lni-users"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Ponto de Venda (PDV)</a></h3>
                <p>Realize suas vendas de forma integrada aos demais sistemas de sua empresa</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lni-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Gestão de Estoque e Compras</a></h3>
                <p>Tenha seu inventário atualizado e sob controle</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="lni-mobile"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Controle de Produção (MRP)</a></h3>
                <p>Sua produção automatizada no modelo MRP. </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Controle de Manutenção</a></h3>
                <p>Mantenha a manutenção dos seus ativos em dia. </p>
              </div>
            </div>
          </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
            <div class="icon">
              <i class="lni-users"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Gestão de Usuários (IAM/IGA)</a></h3>
              <p>Gerencie seus usuários e seus respectivos papéis e acessos com total governança. </p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
            <div class="icon">
              <i class="lni-mobile"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Serviços de Conteúdo</a></h3>
              <p>Gerencie cotas de armazenamento individuais e coletivos a partir de um console único. </p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
            <div class="icon">
              <i class="lni-mobile"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Correio Eletrônico</a></h3>
              <p>Um serviço de correio corporativo, com segurança e alta capacidade de armazenamento. </p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>